/* Navbar */

header .prompt {
  vertical-align: -0.2em;
  font-size: 0.85em;
  opacity: 0.5;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

header a:hover .prompt {
  opacity: 0.8;
}

header .blink {
  animation: blinker 1s none infinite;
}

header nav span.active {
  @apply font-medium;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

header nav span {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: -0.01em;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Search */

.search.focus .icon {
  @apply text-c-active opacity-100;
}
