---
import { isExternal } from "@renovamen/utils";
import type { SocialItem } from "@types";

export interface Props {
  socials: SocialItem[];
}

const { socials } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {
    socials.map((item) => (
      <a
        class="btn px-3 h-8 mr-1 mb-1"
        title={item.name || item.link}
        href={item.link}
        target={isExternal(item.link) ? "_blank" : "_self"}
        rel="noopener noreferrer"
      >
        <div class={item.icon} w-4 h-4 />
        {item.name && <div class="text-xs">{item.name}</div>}
      </a>
    ))
  }
</div>
