---
import { SITE } from "@config";
import type { ProjectItem } from "@types";
import Project from "@components/Project";
import Layout from "@layouts/Layout.astro";

export interface Props {
  frontmatter: {
    projects: Record<string, ProjectItem[]>;
  };
}

const { projects } = Astro.props.frontmatter;
---

<Layout title={`Projects - ${SITE.title}`} activePage="projects">
  {
    Object.keys(projects).map((key) => (
      <>
        <h1 class="code-main-heading">{key}</h1>
        <div grid="~ cols-1 sm:cols-2 gap-3" py-2 class="code-projects-grid">
          {projects[key].map((project) => (
            <Project client:load project={project} />
          ))}
        </div>
      </>
    ))
  }
  <h1 class="projects-main-heading">Projects</h1>
  <slot />
</Layout>

<style>
  .code-main-heading {
    @apply text-4xl font-medium text-c-dark mb-8;
    letter-spacing: -0.05em;
    line-height: 1.15;
    font-weight: 500;
  }

  .code-main-heading:first-of-type {
    @apply mt-0;
  }

  .projects-main-heading {
    @apply text-4xl font-medium text-c-dark mb-12 mt-20;
    letter-spacing: -0.05em;
    line-height: 1.15;
    font-weight: 500;
  }

  .code-projects-grid {
    @apply mb-20;
  }
</style>
